.container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.navbar{
position: static;
}

.frame{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 95vw;
  height: auto;
  border: 1px solid #FFF2E1;
  border-radius: 15px;
  background-color: #EAD8C070;
  margin-top: 2rem;
  filter: blur(0.5px);
}

.link{
  justify-self: left;
  align-self: flex-start;
  margin-top: 3.5rem;
  text-decoration: none;
  color: #FFF2E1;
  background: linear-gradient(#D7E4C080, #FFC94A80);
  font-size: 1.5rem;
  border: none;
  border-radius: 15px;
  padding: 20px;
}

.link:hover{
  cursor: pointer;
  background: linear-gradient(#D7E4C0, #FFC94A);
  color: #FFF2E1;
}

.actionContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 80vw;
  height: 35vh;
  border-radius: 15px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.contain__filter{
  width: 55vw;
  height: 25vh;
  color: #E8EFCF;
  border: 1px solid #E8EFCF;
  border-radius: 15px;
  font-size: 2rem;
}

.title{
  margin-top: 3rem;
}

.subtitle{
  color:#E8EFCF;
}


.filter{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90vw;
  height: 20vh;
  border: 1px solid #FFF2E1;
  border-radius: 15px;
  font-size: 1.5rem;
}

.filters__box{
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}



.pay__list{
  width: 90vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: 1px solid #FFF2E1;
  border-radius: 15px;
  padding: 10px;
}

.contain__table{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
  border-radius: 15px;
  font-size: 1rem;
}


.list{
  width: 100vw;
  justify-content: space-around;
  list-style-type: none;
}



.table {
  width: 90vw;
  border-collapse: collapse;
}

.table,
.table {
  text-align: justify; 
  border-radius: 15px;
}



tr{
  border-bottom: solid 1.5px #FFF2E190;
  width: 90%;
  height: 30px;
font-size: 1rem;
color: #FFF2E1;
}

.btn__icon{
  color: #944E63;
  background-color: transparent;
  border: transparent;
}

.btn__icon:hover{
  cursor: pointer;
  color: #DADDB1;
  background-color: transparent;
}

.icon{
  color: #944E63;
  font-size: 15px;
}

.footer{
  margin-top: 10rem;
  padding: 0rem;
}