.searchBox {
  height: 50px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background: #9400FF;
  border-radius: 50px;
  position: relative;
}

.searchButton {
  color: var(--color-text);
  position: absolute;
  right: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--gradient-2, linear-gradient(90deg, #FF6464 0%, #FFAA64 100%));
  border: 0;
  display: inline-block;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

/*hover effect*/
button:hover {
  color: var(--color-text);
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
  transform: translateY(-3px);
}

/*button pressing effect*/
button:active {
  box-shadow: none;
  transform: translateY(0);
}

.searchInput {
  width: 390px;
  border: none;
  background: none;
  outline: none;
  color: var(--color-text);
  font-size: 15px;
  padding: 24px 46px 24px 26px;
}

.searchInput::placeholder {
  color: var(--color-text);

}

@media screen and (max-width: 800px) {
  .searchBox {
      width: 250px;
      height: 35px;
      font-size: 13px;
  }

  .searchInput {
      font-size: 15px;
  }

  .searchButton {
      width: 30px;
      height: 30px;
      right: 4px;
  }
}

@media screen and (max-width: 600px) {
  .searchBox {
      width: 150px;
      height: 30px;
      font-size: 10px;
  }

  .searchInput {
      font-size: 10px;
  }

  .searchButton {
      width: 25px;
      height: 25px;
      right: 4px;
  }
}